# Entorno virtual
venv/
.env/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter
.ipynb_checkpoints/

# Archivos de sistema
.DS_Store
Thumbs.db

# Archivos de salida del proyecto
data/processed/
models/
outputs/

# Archivos grandes (dataset original si pesa mucho)
# data/raw/*.xlsx
# data/raw/*.csv

# Logs
*.log

# VS Code
.vscode/

# Config local
*.env